# 3 Topping Pizzas

You're a consultant for a major pizza chain that will be running a promotion where all 3 topping pizzas will be sold for a fixed price, & are trying to understand the costs involved.

Given a list of pizza toppings, consider all the possible 3 topping pizzas, & print out the total cost of those 3 toppings. Sort the results with the highest total cost on the top followed by pizza toppings in ascending order.

Break ties by listing the ingredients in alphabetical order, starting from the first ingredient, followed by the second, & third.

Notes:

* Do not display pizzas where a topping is repeated. For example, **Pepperoni, Pepperoni, Onion Pizza**.
* Ingredients must be listed in alphabetical order. For example, **Chicken, Onions, Sausage**. **Onion, Sausage, Chicken** is not acceptable.

# Answer

The table I will use is `pizza_toppings`:

```
CREATE TABLE pizza_toppings (
	ingredient_cost numeric(3, 2),
	topping_name text
);

COPY pizza_toppings
FROM '/YourDirectory/pizza_toppings.csv'
WITH (FORMAT CSV, HEADER);

SELECT * FROM pizza_toppings;
```

<img src = "pizza_toppings Table.png" width = "600" style = "margin:auto">

This query is demanding a lot. First, I've got to find a way to generate all possible combinations. `CROSS JOIN`!

```
SELECT (p1.topping_name || ',' || p2.topping_name || ',' 
	   	   || p3.topping_name) AS pizza,
	   (p1.ingredient_cost + p2.ingredient_cost +
	   	   p3.ingredient_cost) AS total_cost
FROM pizza_toppings p1
CROSS JOIN pizza_toppings p2
CROSS JOIN pizza_toppings p3
WHERE p1.topping_name != p2.topping_name 
	AND p1.topping_name != p3.topping_name
	AND p2.topping_name != p3.topping_name
	AND p1.topping_name < p2.topping_name
	AND p2.topping_name < p3.topping_name
ORDER BY total_cost DESC;
```

<img src = "3 Topping Pizzas & Their Cost.png" width = "600" style = "margin:auto"/>

Not surprisingly, the most expensive 3 topping pizza is one with three meat toppings (Chicken, Pepperoni & Sausage = \\$1.75) & the cheapest 3 topping piza is one with three vegetable toppings (Green Peppers, Jalapenos & Onions = \\$0.55). This is probably fake data, so I shouldn't be reading too much into it...