# Swapped Food Delivery

Zomato is a leading online food delivery service that connects users with various restaurants & cuisines, allowing them to browse menus, place orders, & get meals delivered to their doorsteps. 

Recently, Zomato encountered an issue with their delivery system. Due to an error in the delivery driver instructions, each item's order was swapped with the item in the subsequent row. As a data analyst, you're asked to correct this swapping error & return the proper pairing of order ID & item.

If the last item as an odd order ID, it should remain as the last item in the corrected data. For example, if the last item is Order ID 7 Tandoori Chicken, then it hsould remain as Order ID 7 in the corrected data.

In the results, return the correct pairs of order IDs & items.

# Answer

I will be reordering the `orders` table:

```
CREATE TABLE orders (
	order_id smallserial,
	item text
);

INSERT INTO orders (item)
VALUES ('Chow Mein'),
	   ('Pizza'),
	   ('Pad Thai'),
	   ('Butter Chicken'),
	   ('Eggrolls'),
	   ('Burger'),
	   ('Tandoori Chicken'),
	   ('Sushi'),
	   ('Tacos'),
	   ('Ramen'),
	   ('Burrito'),
	   ('Lasagna'),
	   ('Salad'),
	   ('Steak'),
	   ('Spaghetti');

SELECT * FROM orders;
```

<img src = "orders Table.png" width = "600" style = "margin:auto"/>

This one is a hard one.

```
SELECT item,
	   (CASE WHEN order_id = (SELECT max(order_id)
	       FROM orders) AND order_id % 2 != 0 THEN
		   order_id
		   WHEN order_id % 2 != 0 THEN order_id + 1
		   WHEN order_id % 2 = 0 THEN order_id - 1
		   ELSE NULL END) AS order_id_fixed
FROM orders
ORDER BY order_id_fixed;
```

<img src = "Order ID Fix for Delivery Items.png" width = "600" style = "margin:auto"/>

This query should work, even if the maximum `order_id` was an even number.