# Second Highest Salary

Imagine you're an HR analyst (I will never be an HR analyst & you shouldn't either) at a tech company tasked with analysing employee salaries. Your manager is keen on understanding the pay distribution & asks you to determine the second highest salary among all employees.

It's possible that multiple employees may share the same second highest salary. In case of duplicate, display the salary only once.

# Answer

I'll be using the `employee2` table. 

```
CREATE TABLE employee2 (
	employee_id smallserial,
	name text,
	salary smallint,
	department_id smallint,
	manager_id smallint
);

COPY employee2
FROM '/YourDirectory/employee2.csv'
WITH (FORMAT CSV, HEADER, NULL 'NULL');

SELECT * FROM employee2;
```

<img src = "employee2 Table.png" width = "600" style = "margin:auto"/>

This seems like a job for the `dense_rank()` window function.

```
SELECT *,
	   dense_rank() OVER (ORDER BY salary DESC)
FROM employee2
ORDER BY salary DESC;
```

<img src = "Employees Ranked by Salary.png" width = "600" style = "margin:auto"/>

Looks like there aren't any ties for the second highest salary. Now, we just need to display the second highest salary.

```
SELECT salary AS second_highest_salary
FROM (
    SELECT *,
    	   dense_rank() OVER (ORDER BY salary DESC)
    FROM employee2
    ORDER BY salary DESC
)
WHERE dense_rank = 2;
```

<img src = "Second Highest Salary.png">

The second highest salary is 12500 units.