# Stock Min-Max

The Bloomberg terminal is the go-to resource for financial professionals, offering convenient access to a wide array of financial datasets. As a data analyst at Bloomberg, you have access to historical data on stock performance.

Currently, you're analysing the highest & lowest open prices for each FAANG stock by month over the years.

For each FAANG stock, display the ticker symbol, the month & year ('Mon-YYYY') with the corresponding highest & lowest open prices. Ensure that the results are sorted by ticker symbol.

# Answer

This is a big table, so I'll load it in:

```
CREATE TABLE stock_prices (
	date timestamp,
	ticker varchar(4),
	open numeric(5, 2),
	high numeric(5, 2),
	low numeric(5, 2),
	close numeric(5, 2)
);

COPY stock_prices
FROM '/YourDirectory/stock_prices.csv'
WITH (FORMAT CSV, HEADER);

SELECT * FROM stock_prices;
```

<img src = "stock_prices Table.png" width = "600" style = "margin:auto"/>

I'll find the highest & lowest opens for each stock & then join the dates onto it.

```
WITH ticker_opens
AS (
	SELECT ticker,
		   max(open) AS highest_open,
		   min(open) AS lowest_open
	FROM stock_prices
	GROUP BY ticker
)
SELECT ticker_opens.ticker,
	   high_ticker.to_char AS highest_open_month,
	   ticker_opens.highest_open,
	   low_ticker.to_char AS lowest_open_month,
	   ticker_opens.lowest_open
FROM ticker_opens
LEFT JOIN (SELECT to_char(date, 'Mon-YYYY'), ticker, 
	open FROM stock_prices) AS high_ticker
	ON ticker_opens.ticker = high_ticker.ticker
		AND ticker_opens.highest_open = high_ticker.open
LEFT JOIN (SELECT to_char(date, 'Mon-YYYY'), ticker, 
	open FROM stock_prices) AS low_ticker
	ON ticker_opens.ticker = low_ticker.ticker
		AND ticker_opens.lowest_open = low_ticker.open
ORDER BY ticker_opens.ticker;
```

<img src = "Highest & Lowest Opens.png" width = "600" style = "margin:auto"/>

Apple (AAPL) achieved its highest opening stock price of \\$195.26 in July 2023 & its lowest opening stock price of \\$61.63 in April 2020. 

Amazon's (AMZN) highest opening price is \\$177.25 in December 2021 & lowest opening price is \\$85.46 in January 2023.

Google (GOOG) achieved its highest opening price of \\$148.16 in November 2021 & its lowest opening stock price of \\$56.10 in April 2020.

Meta (META), formerly known as Facebook, achieved its highest opening stock price of \\$379.59 in September 2021 & its lowest opening stock price of \\$94.33 in November 2022.

Microsoft's (MSFT) highest opening price is \\$339.19 in July 2023 & its lowest opening price is \\$153.00 in April 2020.

Netflix (NFLX) achieved its highest opening price of \\$689.06 in November 2021 & its lowest opening price of \\$176.49 in July 2022.